.todolist__headline-button {
    font-family: 'Open Sans';
    font-size: 16px;
    width: 90px;
    height: 40px;
    background: #20BBEF;
    color: #fff;
    border: 1px solid #DADFE5;
    border-radius: 5px;
}